analisis
prompts
ejemplo de pruebas.pdf
GUIA_DESPLIEGUE_HTTPS.md
STANDARDS.md
docker onlyoffice.yml
GUIA_DESPLIEGUE_HTTPS.md
reporte_optimizacion_venta_de_un_producto.pdf
movilsw1
venta_de_un_producto_diagram.json